<div class="login-container">
  <div class="login-box">

    <h2>Iniciar Sesión</h2>

    <form [formGroup]="form" (ngSubmit)="ValidarUsuario()">

      <label>Email</label>
      <input type="email" formControlName="email" placeholder="usuario@correo.cl">
      <span class="error" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
        Ingresa un correo válido
      </span>

      <label>Contraseña</label>
      <input type="password" formControlName="password" placeholder="********">
      <span class="error" *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
        Ingresa tu contraseña
      </span>

      <button type="submit" [disabled]="cargando">Entrar</button>
 <!-- ❗❗ Si el usuario no existe, aparece este mensaje -->
      <p class="error" *ngIf="usuarioNoExiste">
        El usuario no existe. ¿Deseas crear tu contraseña?
      </p>

      <!-- ❗❗ Botón para crear contraseña -->
      <button
        *ngIf="usuarioNoExiste"
        type="button"
        (click)="CrearCuenta()"
      >
        Crear Contraseña
      </button>

      <!-- Mensajes de error normales -->
      <p class="error" *ngIf="errorMsg">{{ errorMsg }}</p>

    </form>

  </div>
</div>
     