.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

table {
  width: 100%;
}

.sin-compras {
  text-align: center;
  padding: 40px;
  color: #999;
}

.sin-compras mat-icon {
  font-size: 64px;
  width: 64px;
  height: 64px;
}
