.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.buscador {
  width: 100%;
  margin-bottom: 16px;
}

table {
  width: 100%;
}

.critico {
  color: red;
  font-weight: bold;
}
