.container {
  height: 100vh;
}

.sidenav {
  width: 240px;
  padding: 20px;
  background: #1f1f1f;
  color: white;
}

.logo {
  margin-bottom: 30px;
  font-size: 22px;
  color: #fff;
}

button {
  width: 100%;
  text-align: left;
  color: #fff;
}

mat-toolbar {
  position: sticky;
  top: 0;
}

.content {
  padding: 20px;
}

.spacer {
  flex: 1 1 auto;
}
